@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/josefin-sans-v17-latin-regular.woff2") format("woff2"),
  url("../fonts/josefin-sans-v17-latin-regular.woff") format("woff"); 
}

@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/josefin-sans-v17-latin-500.woff2") format("woff2"),
  url("../fonts/josefin-sans-v17-latin-500.woff") format("woff"); 
}

@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/josefin-sans-v17-latin-600.woff2") format("woff2"),
  url("../fonts/josefin-sans-v17-latin-600.woff") format("woff"); 
}

@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/josefin-sans-v17-latin-700.woff2") format("woff2"),
  url("../fonts/josefin-sans-v17-latin-700.woff") format("woff"); 
}