.order_info {
  padding: 20px;
  width: 100%;
}
.order_info_inner {
  background-color: #f5f4f4;
  border-radius: 8px;
  padding: 20px;
}

.order_section-heading {
  margin: 0;
  padding: 0;
}

.col-41 {
  width: 8%;
  background-color: #e90000;
}
.col-42 {
  width: 20%;
  background-color: #18be02;
}
.col-43 {
}
.col-44 {
}
.col-45 {
}
.col-46 {
}

.order_item-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 12px;
  vertical-align: middle;
  margin: 5px 0;
}

.order_section-top {
  display: flex;
  justify-content: space-between;
}

.order_section-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.order_section-bottom-left {
  width: 60%;
}
.order-table {
  width: 100%;
}

.order_table-tbody {
font-size: 18px;
}

.order_section-bottom-right {
  width: 38%;
  padding: 15px;
  border-radius: 8px;
  background-color: rgb(77, 77, 77);
}