.order_info {
  padding: 20px;
  width: 100%;
}
.order_info_inner {
  background-color: #f5f4f4;
  min-height: 90vh;
  border-radius: 8px;
  padding: 20px;
}

.order_section-heading {
  margin: 0;
  padding: 0;
}

.col-41 {
  width: 8%;
}
.col-42 {
  width: 20%;
}
.col-43 {
  width: 30%;
}


.order_item-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 12px;
  vertical-align: middle;
  margin: 5px 0;
}

.order_section-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.order_section-bottom-left {
  width: 60%;
}
.order-table {
  width: 100%;
}

.order_table-tbody {
font-size: 18px;
}


/* RIGHT SECTION */
.order_section-bottom-right {
  width: 38%;
  padding: 15px;
  border-radius: 8px;
  background-color: #1F1D2B;
  color: white;
}

.order_section-user-heading {
  margin: 0;
  font-size: 30px;
  margin-bottom: 8px;
}
.order_section-user-phonenumber {
  margin: 0;
  font-size: 25px;
  margin-bottom: 8px;
}
.order_section-user-telegram {
  color: white;
  font-size: 20px;
}

.order_section-user-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.order_item-pricing {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.order_item-delivery-price,
.order_item-products-price {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.order_item-total-price{
  align-self: center;
  margin: 10px 0;
  font-size: 30px;
  font-weight: bold;
  background-color: #0040b6;
  border-radius: 8px;
  padding: 10px 30px;
}

.order_item-selection {
    width: 100%;
    padding: 11px;
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
  
    &:focus,
    &:active {
      outline: none;
    }
}

.order_location_link {
  margin: 0;
  margin-top: 8px;
  font-size: 20px;
  text-align: center;
}