
.orders-page {
  width: 100%;
  padding: 24px;
  color: white;
}


.orders_page-headings {
  width: 70%;
}

.orders_page-heading {
  font-weight: 600;
  font-size: 28px;
  margin: 0;
}

.orders_page-sub_heading {
  color: #E0E6E9;
  margin: 0;
  padding-top: 4px;
}

.orders_line {
  border: 1px solid #173BD6;
  margin: 10px 0;
  
}

.stat-list {
  margin: 0;
  padding: 0;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.stat-list-item {
  width: 270px;
  background: #1F1D2B;
  border-radius: 8px;
  margin: 0 10px;
  padding: 10px;
}

.list-item-top {
  display: flex;
  align-items: center;
}

.list-item-img-wrapper {
  padding: 7px;
  background: #252836;
  border-radius: 8px;
  margin-right: 12px;
}

.list-item-img {
  vertical-align: middle;
}

.list-item-number {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  color: #F6CE4E;
}

.list-item-bottom {
  margin: 6px 0;
  color: #ABBBC2;
  font-size: 18px;
}

.orders_page-top {
  display: flex;
  justify-content: space-between;
}

.most-ordered {
  width: 100%;
  background: #1F1D2B;
  border-radius: 8px;
  margin-left: 24px;
  padding: 12px;
}

.most-ordered-heading-top {
  margin: 0;
  font-size: 22px;
}

.most-ordered-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.most-ordered-item {
  display: flex;
}
.most-ordered-item:first-child {
  margin-bottom: 12px;
}

.most-ordered-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 16px;
}

.most-ordered-heading {
  max-width: 220px;
  margin: 0;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #F6CE4E;
}

.most-ordered-subheading {
  margin: 0;
  font-size: 16px;
}